<div class="tag-page">
    @if (tagList().length) {
    @for (tag of tagList(); track tag.id) {
    <tag-card [tag]="tag" (deleted)="handleTagDeletion($event)"></tag-card>
    }
    } @else {
    <div>
        {{ 'tags.list.empty' | transloco }}
    </div>
    }
</div>

<footer>
    <button (click)="openForm()">
        {{ 'tags.actions.add' | transloco }}
    </button>
</footer>

<app-modal #modal>
    <tag-form [tag]="selectedTag()" (formSumbitted)="handleFormSumbission($event)"></tag-form>
</app-modal>