<form [formGroup]="tagForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="name">{{ 'form.title.label' | transloco }}</label>
        <input id="name" formControlName="name" [placeholder]="'form.title.placeholder' | transloco" required />
        @if (tagForm.get('name')?.touched && tagForm.get('name')?.invalid) {
        <div class="error">
            @if (tagForm.get('name')?.errors?.['required']) {
            {{ 'errors.title.required' | transloco }}
            }
            @if (tagForm.get('name')?.errors?.['minlength']) {
            {{ 'errors.title.minLength' | transloco }}
            }
        </div>
        }
    </div>

    <div class="form-group">
        <label for="color">Color:</label>
        <input id="color" type="color" formControlName="color" />
    </div>

    <button type="submit" [disabled]="tagForm.invalid">
        {{ 'common.save' | transloco }}
    </button>
</form>