<form [formGroup]="mangaForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" formControlName="title" required>
    </div>
    @if (mangaForm.get('title')?.invalid && mangaForm.get('title')?.touched) {
      <div>Title is required (min 3 characters)</div>
    }
  
    <div class="form-group">
      <label for="link">Link:</label>
      <input id="link" formControlName="link">
    </div>
  
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input id="image" formControlName="image">
    </div>
  
    <div class="form-group">
      <label for="chapters">Chapters:</label>
      <input id="chapters" type="number" formControlName="chapters" required>
    </div>
    @if (mangaForm.get('chapters')?.invalid && mangaForm.get('chapters')?.touched) {
      <div>Must be a non-negative number</div>
    }
  
    <div class="form-group favorite-container">
      <label for="isFavorite">Favorite:</label>
      <input type="checkbox" formControlName="isFavorite">
    </div>
  
    <div class="form-group">
      <label for="type">Type:</label>
      <select id="type" formControlName="type">
        <option value="manga">Manga</option>
        <option value="manhwa">Manhwa</option>
        <option value="manhua">Manhua</option>
        </select>
    </div>
  
    <div class="form-group">
      <label for="state">State:</label>
      <select id="state" formControlName="state">
        <option value="reading">Reading</option>
        <option value="completed">Completed</option>
        <option value="on-hold">On-Hold</option>
        </select>
    </div>
  
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input id="tags" formControlName="tags">
    </div>
  
    <button type="submit" [disabled]="mangaForm.invalid">Submit</button>
  </form>