/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  


  /*Header*/
  Header{
    /*flex flex-row border-b border-b-blue-400 border-solid h-12*/
    height: 3rem;
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 255, 255, 0.5);
  }
  Header img {
    height: 2rem;
    width: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }