<h1>Gestión de Manga y Tags</h1>

<section class="form-container">
  <!-- Formulario para Tags -->
  <!--<div class="tag-form">
    <h2>Añadir Tag</h2>
    <form>
      <div class="form-group">
        <label for="tagName">Nombre del Tag:</label>
        <input type="text" id="tagName" name="tagName" required />
      </div>
      <div class="form-group">
        <label for="tagColor">Color:</label>
        <input type="color" id="tagColor" name="tagColor" />
      </div>
      <button type="submit">Añadir Tag</button>
    </form>
  </div> -->

  <!-- Formulario para Manga -->
  <div class="manga-form">
    <h2>Añadir Manga</h2>
    <form [formGroup]="mangaForm" (ngSubmit)="saveManga()">
      <div class="form-group">
        <label for="mangaTitle">Título:</label>
        <input type="text" id="mangaTitle" name="mangaTitle" formControlName='title' required />
      </div>
      
      <div class="form-group">
        <label for="link">link:</label>
        <input type="text" id="link" name="link" required formControlName='link' />
      </div>
      
      <div class="form-group">
        <label for="image">image:</label>
        <input type="text" id="image" name="image" formControlName='image' required />
      </div>
    <div class="form-group">
        <label for="mangaChapters">Capítulos:</label>
        <input type="number" id="mangaChapters" name="mangaChapters" min="0"  formControlName='chapters' />
      </div>
      <div class="form-group">
        <label for="mangaType">Tipo:</label>
        <select id="mangaType" name="mangaType" formControlName='type'>
          <option value="manga">Manga</option>
          <option value="manhwa">Manhwa</option>
          <option value="manhua">Manhua</option>
          <option value="webcomic">Webcomic</option>
          <option value="novel">Novel</option>
          <option value="book">Book</option>
          <option value="one-shot">One-shot</option>
          <option value="doujinshi">Doujinshi</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="state">Estado:</label>
        <select id="state" name="state" formControlName='state'>
          <option value="reading">Leyendo</option>
          <option value="completed">Completado</option>
          <option value="on-hold">En pausa</option>
          <option value="dropped">Abandonado</option>
          <option value="plan-to-read">Plan por leer</option>
          <option value="none">Ninguno</option>
        </select>
      </div>

      <button type="submit">Añadir Manga</button>
    </form>
  </div>
</section>
